.main {
    font-family: Garamond, serif;
    font-size: 18px;
    margin-left: 300px; /* Left margin 1 inch */
    margin-right: 300px; /* Right margin 1 inch */
    text-align: center;
}

.total_center {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
}

.continue {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}

.main img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 2%;
      width: 35%;
      height: auto;
}

.main .textimg {
    width: 70%;
    height: auto;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.musicjournal {
  background-image: url('snow.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

/* .readingjournal {
  background-image: url('baylands.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
} */

/* .readingjournal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(baylands.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
} */

.musicjournalentry {
  padding: 10px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.296);
  display: inline-block;
  display: flex;
}

.readingjournalentry {
  padding: 10px;
  z-index: 1000;
  color: rgb(255, 250, 246);
  display: inline-block;

}


@media only screen and (max-width: 780px) {
    .main {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 16px;
      padding-top: 10px;
    }
    .navbar {
        padding-bottom: 10px;
        padding-right: 10px;
        z-index: 1000;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.563);
    }

    .continue {
        font-size: 14px;
    }

    .main img {
        width: 70%;
        height: auto;
    }
    .main .textimg {
        width: 100%;
        height: auto;
    }

    /* .musicjournal, .readingjournal {
      background-attachment: fixed;  
      display: block;
    } */
  
    .musicjournalentry, .readingjournalentry {
      font-size: 16px;  
      display: block; 
      background-size: cover;
    } 

  }

